#sideb {
  float: left;

  border-style: solid;
  border-color: darkgrey;
  padding: 0%;
}

#navId {
  padding: 0%;
  padding-left: 8%;
}

#summaryDiv {
  border-style: ridge;
  border-color: darkgrey;
  border-radius: 5px;
  background-color: beige;
  flex-direction: row;
  padding: 0px;
  font-weight: 560;
  padding-left: 25px;
  padding-right: 25px;
}
