.cardDiv {
  border-color: black;
  border-style: solid;
  margin: 10px;
  display: inline-block;
  width: auto;
}

.Dishes {
  flex-wrap: wrap;
}

.titleDiv {
  width: 200px;
}

.btn-search {
  background: #cc7070;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #cc7070;
}

h3 {
  padding-top: 20px;
}
